/* Temel Stil Ayarları */
body {
    background-color: var(--ion-color-background); /* Genel arka plan rengi */
    color: var(--ion-color-text); /* Genel yazı rengi */
  }
  
  /* Kart Stil Ayarları */
  ion-card {
    background-color: var(--ion-card-background); /* Kart arka plan rengi */
    border-radius: var(--ion-card-border-radius); /* Kart köşe yuvarlama */
  }
  
  /* Buton Stilleri */
  .complete-button {
    height: 50px;
    width: 50px;
    background-color: var(--ion-button-background); /* Buton arka plan rengi */
    color: var(--ion-button-text-color); /* Buton yazı rengi */
  }
  
  /* Uyarı Metni Stili */
  .warning-text {
    font-size: 14px;
    color: var(--ion-color-warning); /* Uyarı rengi */
  }
  
  /* Madde Stilleri */
  .item-content {
    margin: 0; 
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%; /* Card content genişliği tam genişlik */
    border: 1px solid var(--ion-item-border-color); /* Madde kenar rengi */
    border-radius: 5px; /* Köşe yuvarlama */
    border-left: 5px solid green; /* Sol tarafta yeşil border */
    --inner-padding-start: 0px;  /* İçteki padding değerini sıfırlar */
    --inner-padding-end: 0px; 
  }  

  .card-content {
    margin: 0; 
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%; /* Card content genişliği tam genişlik */
    --padding-start: 0px;  /* CardContent padding değerini sıfırlar */
    --padding-end: 0px;    /* CardContent padding değerini sıfırlar */
  }

  .custom-grid {
    padding: 0;
    margin: 0;
    width: 100%; /* Grid'in genişliği tam olsun */
  }
  

  .active-left-col {
    flex-grow: 1; /* Sol kolunun genişlemesini sağlar */
    min-width: 0; /* Taşma problemini önlemek için gerekli */
  }
  
  .active-right-col {
    flex-shrink: 0; /* Sağ kolun genişliği sabit kalır */
    width: 80px; /* Sağdaki kolonun sabit genişliği */
    text-align: right;
  }


  .custom-textarea {
    min-height: 100px; /* Minimum yükseklik */
    max-height: 200px; /* Maksimum yükseklik */
    height: auto; /* İçeriğe göre otomatik yüksekliği ayarla */
    overflow-y: auto; /* Taşan içerik için kaydırma çubuğu ekle */
  }


  .order-time {
    font-weight: bold;
  }
  
  /* Sliding Item Styles */
  ion-item-sliding {
    --ion-item-sliding-side-margin: 0;
  }
  
  ion-item-options {
    width: auto;
  }
  
  /* Başlık Stili */
  ion-toolbar {
    background-color: var(--ion-toolbar-background); /* Araç çubuğu arka plan rengi */
    color: var(--ion-toolbar-color); /* Araç çubuğu yazı rengi */
  }
  
  /*History*/
  .datatable-container {
    padding: 1rem;
  }
  
  .p-datatable .p-datatable-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .p-paginator .p-paginator-current {
    margin-right: 1rem;
  }
  
  .button-header {
    display: flex;
    justify-content: space-between;
  }
  
  .button-header ion-button {
    font-size: 100px;
  }